/* css reset snippet from https://bitsofco.de/my-css-reset-base/ */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.625;
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, Helvetica Neue, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
body.light-mode {
    background: #fff;
    color: #333;
    transition: background-color 0.8s ease;
}
body.dark-mode {
    background: #1a1919;
    color: #999;
    transition: background-color 0.8s ease;
}

.light-mode a {
    color: #8e24aa;
}

.dark-mode a {
    color: #e1bee7;
}
.chatcontainer {
    height: 300px;
    width: 80%;
    overflow-y: scroll;
    background-color: #ffe5d9;
    color: black;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
